.imgfooter {
  /* position: relative; */
  background-image: url("/public/images/img-footer2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 50vh;
  /* margin-left: 0; */
}
