.imgfooter {
  position: relative;
  background-image: linear-gradient(
      0deg,
      rgba(11, 15, 16, 1) 0%,
      rgba(63, 75, 109, 0.5) 25%,
      rgba(63, 75, 109, 0.5) 75%,
      rgba(11, 15, 16, 1) 100%
    ),
    url("/public/images/img-footer2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 50vh;
}

.subcopy {
  text-align: left;
  padding-left: 4rem;
  padding-right: 4rem;
}

.newsform {
  padding-right: 4rem;
  padding-left: 4rem;
}

.subform {
  width: 70%;
}

.transparentinput {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}

.transparentinput::placeholder {
  color: white;
}

.transparentinput:focus {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}

@media only screen and (max-width: 900px) {
  .subform {
    width: 100%;
  }

  .subcopy {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .subform {
    width: 100%;
  }
}
