* {
  box-sizing: border-box;
}

/* Setting to include background image in teamcard */
.imgteamcard {
  /* position: relative; */
  background-image: linear-gradient(
      0deg,
      rgba(11, 15, 16, 1) 0%,
      rgba(63, 75, 109, 0.5) 25%,
      rgba(63, 75, 109, 0.5) 75%,
      rgba(11, 15, 16, 1) 100%
    ),
    url("/public/images/img-teamcard.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: auto;
}

.container {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.container .row .col-lg-3 {
  display: flex;
  justify-content: center;
}

.teamcard {
  position: relative;
  padding: 0;
  margin: 0;
  border-radius: 20px;
  overflow: hidden;
  width: 30rem;
  height: 30rem;
  cursor: pointer;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-color: #5a5a5a;
}

.teamcard .teamcard-image {
  width: 100%;
  height: 30rem;
}

.teamcard .teamcard-image img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.teamcard .teamcard-content {
  position: absolute;
  bottom: -200px;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  min-height: 140px;
  width: 100%;
  transition: bottom 0.4s ease-in;
  box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.teamcard:hover .teamcard-content {
  bottom: 0px;
}

.teamcard:hover .teamcard-content h4,
.teamcard:hover .teamcard-content h5 {
  transform: translateY(10px);
  opacity: 1;
}

.teamcard .teamcard-content h4,
.teamcard .teamcard-content h5 {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  transition: 0.8s;
  font-weight: 500;
  opacity: 0;
  transform: translateY(-40px);
  transition-delay: 0.2s;
}

.teamcard .teamcard-content h5 {
  transition: 0.5s;
  font-weight: 200;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.teamcard .teamcard-content .social-icons {
  list-style: none;
  padding: 0;
}

.teamcard .teamcard-content .social-icons li {
  margin: 10px;
  transition: 0.5s;
  transition-delay: calc(0.15s * var(--i));
  transform: translateY(50px);
}

.teamcard:hover .teamcard-content .social-icons li {
  transform: translateY(20px);
}

.teamcard .teamcard-content .social-icons li a {
  color: #fff;
}

.teamcard .teamcard-content .social-icons li a span {
  font-size: 1.3rem;
}
