/* Variables for font size */
:root {
  --font-small: calc(0.5vh + 0.5vw);
  --font-medium: calc(0.8vh + 0.8vw);
  --font-big: calc(1.2vh + 1.2vw);
  --font-XL: calc(1.5vh + 1.5vw);
}

.cardQuestion {
  font-size: var(--font-XL) !important;
  min-height: calc(var(--font-XL) * 5) !important;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

/* Material UI style overrides */
.MuiButton-root {
  cursor: pointer !important;
  display: inline-block !important;
  min-height: calc(1.5vh + 1.5vw) !important;
  min-width: calc(5vh + 5vw) !important;
  padding: 0 1vw !important;
  font-size: var(--font-medium) !important;
  margin: 3vh 2.5vw !important;
  color: black !important;
  border: none !important;
  background-color: rgba(255, 255, 255, 0.25) !important;
  border-radius:2vw !important;
}
  
.MuiCard-root {
    font-size: var(--font-medium) !important;
    background-color: transparent !important;
    border-radius: 20px !important;
    backdrop-filter: grayscale(75%);
    color: #fff !important;
    padding: 0 !important;
    margin: 0 !important;
    min-height: calc(15vh + 15vw) !important;
    justify-content: space-between !important;
    align-items: stretch !important;
  }

.MuiChip-label {
  color: black !important;
  font-weight: bold !important;
  font-size: var(--font-small) !important;
}

.MuiGrid-root {
  font-size: var(--font-medium) !important;
  color: white !important;
}

.MuiChip-root {
  border: calc(0.2vw + 0.2vh) solid transparent !important;
  max-height: calc(var(--font-medium) * 1.5) !important;
  border-radius:0.8vw !important;
  border-style: inset !important;
  border-color: rgba(0, 0, 0, 0.25) !important;
  background-color: rgba(255, 255, 255, 0.25) !important;
}

.MuiBadge-colorSuccess {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.displaytheanswer .options-section .congratsText { 
  font-size: var(--font-big) !important;
  min-height: calc(var(--font-big) * 5) !important;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5vh !important;
}

.congrats {
  font-size: var(--font-XL) !important;
}