/* Variables for gradient control */
:root {
  --gradient-left: #23965c;
  --gradient-right: #713e14;
  --gradient-left-globe: #30bde3;
  --gradient-right-globe: #07498b;
}

/* Material UI style overrides */
.MuiButton-root {
  cursor: pointer;
  display: inline-block;
  height: 3rem !important;
  padding: 0 2rem;
  margin: 0 5vh !important;
  color: white !important;
  border:2px solid transparent !important;
  border-radius:10px !important;
  border-right-color:var(--gradient-right) !important;
  border-left-color:var(--gradient-left) !important;
  background:
    linear-gradient(to left,
      var(--gradient-right) 0%, var(--gradient-left) 70% ,
      transparent 70%,  transparent 85%, 
      var(--gradient-left) 85%, var(--gradient-left) 100%) top/100% 2px,
    linear-gradient(to left, var(--gradient-right) 0%, var(--gradient-left) 100%) bottom/100% 2px;
  background-repeat:no-repeat;
}
  
.MuiCard-root {
    background-color: transparent !important;
    color: #fff !important;
    padding: 10vh !important;
    margin: 0 2vh !important;
    border: 2.5vh solid transparent !important;
    border-radius: 10vh !important;
    border-right-color:var(--gradient-right-globe) !important;
    border-left-color:var(--gradient-left-globe) !important;
    background:
      linear-gradient(to left,
        var(--gradient-right-globe) 0%, var(--gradient-right-globe) 50% ,
        var(--gradient-right-globe) 50%, var(--gradient-left-globe) 100%) top/100% 2.5vh,
      linear-gradient(to left,
        var(--gradient-right-globe) 0%, var(--gradient-left-globe) 50% ,
        var(--gradient-left-globe) 50%, var(--gradient-left-globe) 100%) bottom/100% 2.5vh;
    background-repeat:no-repeat;
    box-shadow: inset var(#fff) 1vh !important;
  }

  .MuiChip-label {
    color: #fff !important;
  }

  .MuiChip-root {
    border:2px solid transparent !important;
    border-radius:10px !important;
    border-right-color:var(--gradient-right) !important;
    border-left-color:var(--gradient-left) !important;
    background:
      linear-gradient(to left,
        var(--gradient-right) 0%, var(--gradient-left) 70% ,
        transparent 70%,  transparent 85%, 
        var(--gradient-left) 85%, var(--gradient-left) 100%) top/100% 2px,
      linear-gradient(to left, var(--gradient-right) 0%, var(--gradient-left) 100%) bottom/100% 2px;
    background-repeat:no-repeat;
  }