.App {
  text-align: center;
  background: url("./components/Header/images/mountains-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 900px;
}

html body {
  background-color: #0a0a0a;
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", "Noto Sans",
    "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

/* .App-header {
  background: url("https://images.unsplash.com/photo-1517841900229-3a90c5f28d0f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
} */

.jumbotron {
  background-color: transparent !;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Material UI style overrides */
.MuiButton-root {
  background: linear-gradient(to bottom, #3a261f, #545d64) !important;
  color: #fff !important;
  border-style: none !important;
  margin: 1vh !important;
}

.MuiCard-root {
  background-color: #545d64 !important;
  background-blend-mode: soft-light;
  color: #fff !important;
}
